main {
  
}

body {
  border: 1px solid black;
  text-align: center;
}

h1 {
  text-align: center;
}

h1:hover {
  text-shadow: 2px 2px 3px gray;
}

h2 {
  text-align: center;
}

h2:hover {
  text-shadow: 2px 2px 3px gray;
}

h3 {
  text-align: center;
}

h3:hover {
  text-shadow: 2px 2px 3px gray;
}

p {
  
}

.info-content {
  position: absolute;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  padding: 5px;
  display: none;
  z-index: 1;
  white-space: pre-line;
}

.info {
  
}

.name {
  
}

.name:hover {
  text-shadow: 2px 2px 3px purple;
  border-radius: 10px;
}

.contact {
  
}

.contact:hover {
  box-shadow: 5px 5px 3px gray;
  border-radius: 10px;
}

.work {
  
}

.work:hover {
  box-shadow: 5px 5px 3px gray;
  border-radius: 10px;
}

.school {
  
}
  
.school:hover {
  box-shadow: 5px 5px 3px gray;
  border-radius: 10px;
}

.skills {
  
}

.skills:hover {
  box-shadow: 5px 5px 3px gray;
  border-radius: 10px;
}

.links {
  
}

.links:hover {
  box-shadow: 5px 5px 3px gray;
  border-radius: 10px;
}

ul {
  list-style-type: none;
}

li {
  list-style-type: none;
}

svg {
  fill: purple;
  width: 30px;
  height: 30px;
  transition: fill 0.3s;
  padding: 1px;
}

svg:hover {
  transition: fill 0.3s;
  fill: gold;
  bos-shadow: 5px 5px 3px gray;
}
